<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
      <nav class='navbar'>
        <div>
          <ul class="nav-link">
            <li class="nav-link">
              <a href="{% url 'customers:account_view' %} ">View Account Details</a>
            </li>
            <li class="nav-link">
              <a href="{% url 'customers:change_pickup' %} ">Change Pickup day</a>
            </li>
            <li class="nav-link">
              <a href="{% url 'customers:add_pickup' %} ">Add Onetime Pickup</a>
            </li>
            <li class="nav-link">
              <a href="{% url 'customers:suspension' %} ">Suspend Service</a>
            </li>
          </ul>
       </div>
     </nav>
    <p>Customer Navbar</p>

    {% elif group.name == "Employees" %}
    <nav class='navbar'>
      <div>
        <ul class="nav-link">
        </ul>
     </div>
   </nav>
    <p>Employee Navbar</p>
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}