{% extends "base.html" %}
{% block content %}

<div class="account-container">
    <div class="jumbotron" id="form-page">
        <form action="" method="post">
            {% csrf_token %}
            <label for='Weekdays'> Choose a day </label>
            <select name="Weekday" id='Weekday'>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select> <br>
            <input type="submit" value="See Pickups"> 
            <!-- Weekly Pickup Day: <input type='text' name='pickup_day' id='pickup_day' value=""><br>
            <input type="submit" value="Create Account"> -->
        </form>
    </div>
    <div>
        {% for customer in customers %}
        <div class="alert alert-secondary">
            <p><strong>{{customer.name}}</strong> {{customer.address}}</p>
            <iframe
                width=100%
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCakOk3SQCoQ6Z9g-ne5jPfTKLXhGbdFW4
                    &q={{customer.address}}">
            </iframe>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
