{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h3> Hello Employee {{ user.username }}! Here are today's customers:</h3>
    <ul>
      {% for customer in customers %}
      <li class="alert alert-secondary">
        <h4 >{{customer.name}}</h4> 
        <p id="cust-address"> {{customer.address}} </p>
        <iframe
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzQ39COnqubzZ5K4mbsI1qwIwhmN-0Rf8
                &q={{customer.address}}">
            </iframe><br>
        <a class="btn btn-secondary btn-sm" href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
      </li>
      {% endfor %}
      <iframe
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/api/staticmap?&size=400x400&markers=color:blue
              {% for customer in customers %}|{{customer.address}}{% endfor %}&key=AIzaSyBzQ39COnqubzZ5K4mbsI1qwIwhmN-0Rf8">
            </iframe>
    </ul>
   

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}