{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h3> Hello Employee {{ user.username }}! Here are today's customers:</h3>
    <ul>
      {% for customer in customers %}
      <li class="alert alert-secondary">
        <h4 >{{customer.name}}</h4> 
        <p id="cust-address{{customer.id}}"> {{customer.address}} </p>
        <a class="btn btn-secondary btn-sm"
           href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
      </li>
      {% endfor %}
    </ul>
    {% if customers %}
      <div id="map" style="height:50vh"></div>
    {% endif %}
    <script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 0, lng: 0},
            zoom: 10
        });

        let address;
        let geocoder;
        {% for customer in customers %}

        address = document.getElementById('cust-address{{customer.id}}').innerHTML;
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': address}, function (results, status){
          map.setCenter(results[0].geometry.location);
          let marker = new google.maps.Marker({
              position: results[0].geometry.location,
              label: '{{customer.name}}',
              map: map
            });
        });

        {% endfor %}

    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnt2Bqs_Lu7IdrVZ2sxTmETKZW9kAf_FA&callback=initMap&libraries=&v=weekly" async>
    </script>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}