{% extends "base.html" %}
{% block content %}

<div class="account-container">
    <div class="jumbotron" id="form-page">
        <form action="" method="post">
            {% csrf_token %}
        
            <label for='pickup_day'> Choose a new pickup day </label>
            <select name="pickup_day" id='pickup_day'>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select><br>

            <input type="submit" value="Change Pickup Day">
        </form>
    </div>
</div>

{% endblock %}
